{% extends "layouts/base.html" %}

{% block title %} Billing {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<link href="/static/assets/css/choices.min.css" rel="stylesheet" />
<script src="/static/assets/js/choices.min.js"></script>

  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
          <div class="col-xl-6 mb-xl-0 mb-4">
            <div class="card bg-transparent shadow-xl">
              <div class="overflow-hidden position-relative border-radius-xl">
                <img src="/static/assets/img/illustrations/pattern-tree.svg" class="position-absolute opacity-2 start-0 top-0 w-100 z-index-1 h-100" alt="pattern-tree">
                <span class="mask bg-gradient-dark opacity-10"></span>
                <div class="card-body position-relative z-index-1 p-3">
                  <i class="material-icons text-white p-2">wifi</i>
                  <h5 class="text-white mt-4 mb-5 pb-2">4251&nbsp;&nbsp;&nbsp;7600&nbsp;&nbsp;&nbsp;1170&nbsp;&nbsp;&nbsp;3037</h5>
                  
                  <div class="d-flex">
                    <div class="d-flex">
                      <div class="me-4">
                        <p class="text-white text-sm opacity-8 mb-0">Card Holder</p>
                        <h6 class="text-white mb-0">sanjay kumar yadav</h6>
                      </div>
                      <div>
                        <p class="text-white text-sm opacity-8 mb-0">Expires</p>
                        <h6 class="text-white mb-0">06/27</h6>
                      </div>
                    </div>
                    <div class="ms-auto w-20 d-flex align-items-end justify-content-end">
                      <img class="w-60 mt-2" src="/static/assets/img/logos/mastercard.png" alt="logo">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="row">
              <div class="col-md-6 col-6">
                <div class="card">
                  <div class="card-header mx-4 p-3 text-center">
                    <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg">
                      <i class="material-icons opacity-10">account_balance</i>
                    </div>
                  </div>
                  <div class="card-body pt-0 p-3 text-center">
                    <h6 class="text-center mb-0">Salary</h6>
                    <span class="text-xs">bank account</span>
                    <hr class="horizontal dark my-3">
                    <h5 class="mb-0">+35000</h5>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-6">
                <div class="card">
                  <div class="card-header mx-4 p-3 text-center">
                    <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg">
                      <i class="material-icons opacity-10">account_balance_wallet</i>
                    </div>
                  </div>
                  <div class="card-body pt-0 p-3 text-center">
                    <h6 class="text-center mb-0">UPI</h6>
                    <span class="text-xs">part time</span>
                    <hr class="horizontal dark my-3">
                    <h5 class="mb-0">+10000-15000</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 mb-lg-0 mb-4">
            <div class="card mt-4">
              <div class="card-header pb-1 p-6">
                <div class="row">
                  <div class="col-7 d-flex align-items-center">
                    <h6 class="mb-5">Payment Method</h6>
                  </div>
                  <div class="col-12 text-end">
                    <!-- <a class="btn bg-gradient-dark mb-0" href="javascript:;"><i class="material-icons text-sm">add</i>&nbsp;&nbsp;Add New Customer</a> -->
                    <!-- <a class="btn bg-gradient-dark mb-0" href="javascript:;"><i class="material-icons text-sm">add</i>&nbsp;&nbsp;Add New Payment</a> -->
                    <!-- <a class="btn bg-gradient-dark mb-0" href="javascript:;"><i class="material-icons text-sm">add</i>&nbsp;&nbsp;Add New Reciept</a> -->
                    <!-- <a class="btn bg-gradient-dark mb-0" href="javascript:;"><i class="material-icons text-sm">add</i>&nbsp;&nbsp;Add New Method</a> -->
                    <!-- <a class="btn bg-gradient-dark mb-0" href="javascript:;"><i class="material-icons text-sm">add</i>&nbsp;&nbsp;Add New Card</a> -->

                    <!-- Button trigger modal -->
                      <button type="button" class="btn bg-gradient-success mb-0" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <a href="javascript:;"><i >add</i>&nbsp;&nbsp;Add New Customer</a>
                      </button>

                      <!-- Modal -->
                      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="staticBackdropLabel">Enter Customer Details</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form class="ui form" action="/addcustomer" method="post">
                            <div class="modal-body">
                              
                              <input class="form-control form-control-lg" type="text" placeholder="Company Name" name="company" aria-label=".form-control-lg example">
                              <input class="form-control form-control-lg" type="text" placeholder="Customer Name" name="namec" aria-label=".form-control-lg example">
                              <input class="form-control form-control-lg" type="text" placeholder="Address Info" name="address" aria-label=".form-control-lg example">
                              <input class="form-control form-control-lg" type="text" placeholder="Mobile Number" name="mobile" aria-label=".form-control-lg example">
                              <input class="form-control form-control-lg" type="text" placeholder="GSTIN" name="gstin" aria-label=".form-control-lg example">
                              <input class="form-control form-control-lg" type="text" placeholder="PAN CARD ID" name="pan" aria-label=".form-control-lg example">
                              
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                              <button class="btn btn-primary" type="submit" value="/addcustomer" onclick="javascript:alert('Customer added successfully');">Submil</button>
                            </form>
                            </div>
                          </div>
                        </div>
                      </div>


                      <!-- Button trigger modal -->
                      <button type="button" class="btn bg-gradient-warning mb-0" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
                        <a href="javascript:;"><i >add</i>&nbsp;&nbsp;Add New Reciept</a>
                      </button>

                      <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="staticBackdropLabel">Add A Recived Payment details</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form action="/addreciept" method="post">
                            <div class="modal-body">

                              <div class="card-body p-0">
                                <select class="selectpicker form-control border-0 mb-1 px-4 py-4 rounded shadow" name="bankname">
                                  {% for mthd in paymthd %}
                                  <option value="{{ mthd[0] }}">{{ mthd[0] }}</option>
                                  {% endfor %}
                              </select>
                              </div>

                              <div class="card-body p-1">
                                <select class="selectpicker form-control border-1 mb-2 px-3 py-3 rounded shadow" name="legder">
                                  {% for item in customerslist %}
                                  <option value="{{ item[0] }}">{{ item[0] }}</option>
                                  {% endfor %}
                              </select>
                              </div>

                              <input class="form-control form-control-lg" type="text" placeholder="Voucher No" name="voucher" aria-label=".form-control-lg example" value="{{ result }}" readonly>
                              <input class="form-control form-control-lg" type="text" placeholder="Amount" name="amount" aria-label=".form-control-lg example">
                              <label class="form-label" align="left">Choose date of Reciept</label><br>
                              <input class="form-control form-control-lg" type="date" name="date" title="Choose your Date of Reciept">

                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button class="btn btn-primary" type="submit" value="/addreciept" onclick="javascript:alert('Reciept invoce added successfully');">Submil</button>
                            </div>
                          </form>
                          </div>
                        </div>
                      </div>

                      
                  <!-- Button trigger modal -->
                
                       <!-- Button trigger modal -->
                       <button type="button" class="btn bg-gradient-info mb-0" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
                        <a href="javascript:;"><i >add</i>&nbsp;&nbsp;Add New Payment</a>
                      </button>

                      <!-- Modal -->
                      <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="staticBackdropLabel">Add your Payment Transaction details</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form class="ui form" action="/addpayment" method="post">
                            <div class="modal-body">
                              <div class="card-body p-0">
                                <select class="selectpicker form-control border-0 mb-1 px-4 py-4 rounded shadow" name="paymethod">
                                  {% for mthd in paymthd %}
                                  <option value="{{ mthd[0] }}">{{ mthd[0] }}</option>
                                  {% endfor %}
                              </select>
                              </div>


                              <div class="card-body p-1">
                                <select class="selectpicker form-control border-1 mb-2 px-3 py-3 rounded shadow" name="legder">
                                  {% for item in customerslist %}
                                  <option value="{{ item[0] }}">{{ item[0] }}</option>
                                  {% endfor %}
                              </select>

                              </div>

                              <input class="form-control form-control-lg" type="text" placeholder="Voucher No" name="voucher" aria-label=".form-control-lg example" value="{{ result1 }}" readonly>
                              <input class="form-control form-control-lg" type="text" placeholder="Amount" name="amount" aria-label=".form-control-lg example">
                              <label class="form-label" align="left">Choose date of Reciept</label><br>
                              <input class="form-control form-control-lg" type="date" name="date" title="Choose your Date of Reciept">
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button class="btn btn-primary" type="submit" value="/addpayment" onclick="javascript:alert('Payment invoce added successfully');">Submil</button>
                            </div>
                            </form>
                          </div>
                        </div>
                      </div>

                                              <!-- Button trigger modal -->

                      <button type="button" class="btn bg-gradient-warning mb-0" data-bs-toggle="modal" data-bs-target="#staticBackdrop3">
                        <a href="javascript:;"><i >add</i>&nbsp;&nbsp;Add New Method</a>
                      </button>

                      <!-- Modal -->
                      <div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="staticBackdropLabel">List of Payment Method</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form class="ui form" action="/addmethod" method="post">
                            <div class="modal-body">
                              <div class="card-body p-0">
                                <select class="selectpicker form-control border-0 mb-1 px-4 py-4 rounded shadow">
                                  {% for mthd in paymthd %}
                                  <option value="{{ mthd[0] }}">{{ mthd[0] }}</option>
                                  {% endfor %}
                              </select>
                              </div>
                              <input class="form-control form-control-lg" type="text" placeholder="New Method Name" name="newmethod" aria-label=".form-control-lg example">
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button class="btn btn-primary" type="submit" value="/addmethod" onclick="javascript:alert('item added successfully');">Submil</button>
                            </div>
                            </form>
                          </div>
                        </div>
                      </div>
                      
                      <!-- Button trigger modal -->
                      <button type="button" class="btn bg-gradient-dark mb-0" data-bs-toggle="modal" data-bs-target="#staticBackdrop5">
                        <a href="javascript:;"><i >add</i>&nbsp;&nbsp;Add New Card</a>
                      </button>

                      <!-- Modal -->
                      <div class="modal fade" id="staticBackdrop5" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="staticBackdropLabel">Add New Card</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            
                              <div class="container mt-5">
                                <div class="card">
                                    <div class="card-header">Secure Payment</div>
                                    <div class="card-body">
                                      <form class="ui form" action="/addcard" method="post">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="floatingCardNumber" name="cardno" placeholder="Card Number" />
                                                <label for="floatingCardNumber">Card Number</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="floatingCardName" name="nameoncard" placeholder="Name on Card" />
                                                <label for="floatingCardName">Name on Card</label>
                                            </div>
                                            <div class="row g-2">
                                                <div class="col-md">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control" id="floatingExpiryMonth" name="expireymonth"
                                                            placeholder="Expiry Month" />
                                                        <label for="floatingExpiryMonth">Expiry Month</label>
                                                    </div>
                                                </div>
                                                <div class="col-md">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control" id="floatingExpiryYear" name="expieryyear" placeholder="Expiry Year" />
                                                        <label for="floatingExpiryYear">Expiry Year</label>
                                                    </div>
                                                </div>
                                                <div class="col-md">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control" name="ccv" id="floatingCvv" placeholder="CVV" />
                                                        <label for="floatingCvv">CVV</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="btn btn-primary" type="submit" value="/addcard" onclick="javascript:alert('card added successfully');"> Proceed to Save</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>

                  </div>
                </div>
              </div>
              <div class="card-body p-3">
                <div class="row">
                  <div class="col-md-6 mb-md-0 mb-4">
                    <div class="card card-body border card-plain border-radius-lg d-flex align-items-center flex-row">
                      <img class="w-10 me-3 mb-0" src="/static/assets/img/logos/mastercard.png" alt="logo">
                      <h6 class="mb-0">****&nbsp;&nbsp;&nbsp;****&nbsp;&nbsp;&nbsp;****&nbsp;&nbsp;&nbsp;3037</h6>
                      <i class="material-icons ms-auto text-dark cursor-pointer" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Card"></i>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card card-body border card-plain border-radius-lg d-flex align-items-center flex-row">
                      <img class="w-10 me-3 mb-0" src="/static/assets/img/logos/visa.png" alt="logo">
                      <h6 class="mb-0">****&nbsp;&nbsp;&nbsp;****&nbsp;&nbsp;&nbsp;****&nbsp;&nbsp;&nbsp;8423</h6>
                      <i class="material-icons ms-auto text-dark cursor-pointer" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Card"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card h-100">
          <div class="card-header pb-0 p-3">
            <div class="row">
              <div class="col-6 d-flex align-items-center">
                <h6 class="mb-0">Invoices</h6>
              </div>
            </div>
          </div>
       
          <div class="card-body p-3 pb-0">
            {% for item in NEWEST %}
            <ul class="list-group">
              <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                <div class="d-flex flex-column">
                  <h6 class="mb-1 text-dark font-weight-bold text-sm">{{item[4]}}</h6>
                  <span class="text-xs">{{item[2]}}</span>
                </div>
                <div class="d-flex align-items-center text-sm">
                  {{item[3]}}
                  <button class="btn btn-link text-dark text-sm mb-0 px-0 ms-4"><i class="material-icons text-lg position-relative me-1">picture_as_pdf</i> PDF</button>
                </div>
              </li>
            </ul>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 mt-4">
        <div class="card">
          <div class="card-header pb-0 px-3">
            <h6 class="mb-0">Saved Card Information</h6>
          </div>
          <div class="card-body pt-4 p-3">
            {% for item in carddet %}
            <ul class="list-group">
              <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                <div class="d-flex flex-column">
                  <h6 class="mb-3 text-sm">{{item[1]}}</h6>
                  <span class="mb-2 text-xs">Card holder Name: <span class="text-dark font-weight-bold ms-sm-2">{{item[1]}}</span></span>
                  <span class="mb-2 text-xs">Card No: <span class="text-dark ms-sm-2 font-weight-bold">{{item[0]}}</span></span>
                  <span class="text-xs">Expires Month & Year: <span class="text-dark ms-sm-2 font-weight-bold">{{item[2]}} & {{item[3]}}</span></span>
                </div>
                <div class="ms-auto text-end">
                  <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="javascript:;"><i class="material-icons text-sm me-2">{{item[4]}}</i>{{item[4]}}</a>
                  <a class="btn btn-link text-dark px-3 mb-0" href="javascript:;"><i class="material-icons text-sm me-2"></i>ccv</a>
                </div>
              </li>
    
        
            </ul>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-md-5 mt-4">
        <div class="card h-100 mb-4">
          <div class="card-header pb-0 px-3">
            <div class="row">
              <div class="col-md-6">
                <h6 class="mb-0">Your Transaction's</h6>
              </div>
              <div class="col-md-6 d-flex justify-content-start justify-content-md-end align-items-center">
                <i class="material-icons me-2 text-lg">date_range</i>
                <small>23 - 30 March 2020</small>
              </div>
            </div>
          </div>
          <div class="card-body pt-4 p-3">
            <h6 class="text-uppercase text-body text-xs font-weight-bolder mb-3">Newest</h6>
            {% for item in NEWEST %}
            <ul class="list-group">
              
            <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
              {% set voucher_type = item[2]|upper %}

              {% if voucher_type.startswith('RC') %}

                <div class="d-flex align-items-center">
                  <button class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-3 p-3 btn-sm d-flex align-items-center justify-content-center"><i class="material-icons text-lg">expand_less</i></button>
                  <div class="d-flex flex-column">
                    <h6 class="mb-1 text-dark text-sm">{{ item[1] }} - > {{ item[0] }}</h6>
                    <span class="text-xs">{{item[4]}}</span>
                  </div>
                </div>

              {% else %}

                <div class="d-flex align-items-center">
                  <button class="btn btn-icon-only btn-rounded btn-outline-danger mb-0 me-3 p-3 btn-sm d-flex align-items-center justify-content-center"><i class="material-icons text-lg">expand_more</i></button>
                  <div class="d-flex flex-column">
                    <h6 class="mb-1 text-dark text-sm">{{ item[1] }} - > {{ item[0] }}</h6>
                    <span class="text-xs">{{item[4]}}</span>
                  </div>
                </div>

              {% endif %}

              
              
              
              {% if voucher_type.startswith('RC') %}
                  <div class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold">
                      + {{ item[3] }}
                  </div>
              {% else %}
                  <div class="d-flex align-items-center text-warning text-gradient text-sm font-weight-bold">
                      - {{ item[3] }}
                  </div>
              {% endif %}
            </li>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>

    <script>
      const sorting = document.querySelector('.selectpicker');
      const commentSorting = document.querySelector('.selectpicker');
      const sortingchoices = new Choices(sorting, {
          placeholder: false,
          itemSelectText: ''
      });


      // Trick to apply your custom classes to generated dropdown menu
      let sortingClass = sorting.getAttribute('class');
      window.onload= function () {
          sorting.parentElement.setAttribute('class', sortingClass);
      }
    </script>
    
    
    {% include 'includes/footer.html' %}
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
