{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<!-- Add this to the head section of your HTML -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white text-capitalize ps-3">Payment Transaction table</h6>
            </div>
          </div>

          <div class="card-body px-0 pb-2" >
           
  
            <div class="table-responsive p-0" class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab" id="payment-container">
              
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">COMPANY/CUSTOMER</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">AMOUNT</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">VOUCHER</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">DATE</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">PAYMENT METHOD(BANK)</th>
                  </tr>
                </thead>
                <tbody>
                  
                  
                  {% for item in payments %}
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="/static/assets/img/team-3.jpg" class="avatar avatar-sm me-3 border-radius-lg" alt="user4">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{ item[0] }}</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0">{{ item[1] }}</p>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="badge badge-sm bg-gradient-success">{{ item[2] }}</span>
                    </td>
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">{{ item[3] }}</span>
                    </td>
                    <td class="align-middle text-center">
                      {{ item[4] }}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

              <button onclick="previousPage()">Previous</button>
              <button onclick="nextPage()">Next</button>
      
          <script>
              function previousPage() {
                  var currentPage = parseInt(getParameterByName('page')) || 1;
                  if (currentPage > 1) {
                      window.location.href = '?page=' + (currentPage - 1);
                  }
              }
      
              function nextPage() {
                  var currentPage = parseInt(getParameterByName('page')) || 1;
                  // You may need to check the total number of pages before navigating to the next page
                  // and update the condition accordingly
                  window.location.href = '?page=' + (currentPage + 1);
              }
      
              // Function to get the value of a query parameter from the URL
              function getParameterByName(name, url = window.location.href) {
                  name = name.replace(/[\[\]]/g, '\\$&');
                  var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                      results = regex.exec(url);
                  if (!results) return null;
                  if (!results[2]) return '';
                  return decodeURIComponent(results[2].replace(/\+/g, ' '));
              }
          </script>
  
              
               

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white text-capitalize ps-3">Reciept Transaction table</h6>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center justify-content-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">COMPANY/CUSTOMER</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">AMOUNT</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">VOUCHER</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">DATE</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">PAYMENT METHOD(BANK)</th>
                  </tr>
                </thead>                  
                  <tbody>
                  
                  
                    {% for item in reciept %}
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="/static/assets/img/team-1.jpg" class="avatar avatar-sm me-3 border-radius-lg" alt="user4">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{ item[0] }}</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{ item[1] }}</p>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="badge badge-sm bg-gradient-success">{{ item[2] }}</span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">{{ item[3] }}</span>
                      </td>
                      <td class="align-middle text-center">
                        {{ item[4] }}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>

                <button onclick="previousPage()">Previous</button>
              <button onclick="nextPage()">Next</button>
      
          <script>
              function previousPage() {
                  var currentPage = parseInt(getParameterByName('page')) || 1;
                  if (currentPage > 1) {
                      window.location.href = '?page=' + (currentPage - 1);
                  }
              }
      
              function nextPage() {
                  var currentPage = parseInt(getParameterByName('page')) || 1;
                  // You may need to check the total number of pages before navigating to the next page
                  // and update the condition accordingly
                  window.location.href = '?page=' + (currentPage + 1);
              }
      
              // Function to get the value of a query parameter from the URL
              function getParameterByName(name, url = window.location.href) {
                  name = name.replace(/[\[\]]/g, '\\$&');
                  var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                      results = regex.exec(url);
                  if (!results) return null;
                  if (!results[2]) return '';
                  return decodeURIComponent(results[2].replace(/\+/g, ' '));
              }
          </script>

            </div>
          </div>
        </div>
      </div>
    </div>

 
    <footer class="footer py-4  ">
      <div class="container-fluid">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
              <div class="copyright text-center text-sm text-muted text-lg-start">
                &copy; <a href="https://sanjayengineer121.github.io/" class="font-weight-bold" target="_blank">Sanjay Yadav</a>
                developer.
              </div>
            </div>
            <div class="col-lg-6">
              <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                <li class="nav-item">
                  <a href="https://github.com/sanjayengineer121/" 
                     class="nav-link text-muted" target="_blank">Product</a>
                </li>
                <li class="nav-item">
                  <a href="https://in.linkedin.com/in/ersanjay19" class="nav-link text-muted" target="_blank">Support</a>
                </li>
              </ul>
            </div>
          </div>
      </div>
    </footer>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
